
<style>

	nav {
			  width: 100%;
			  height: 15vh;
			  background: rgba(0, 0, 0, 0.2);
			  color: white;
			  display: flex;
			  justify-content: space-between;
			  align-items: center;
			  text-transform: uppercase;
			}

			nav .logo {
			  width: 25%;
			  text-align: center;
			  
			  /*background: red;*/
			}

			

			nav .menu a {
			  width: 50%;
			  text-decoration: none;
			  color: white;
			  font-weight: bold;
			}

			nav .menu a:hover {
			  color: #00b894;
			}	
			
			@media screen and (min-width: 0px) {
			  body {
			    background-color: blue;
			  }
			  nav .nav-menu {
			  			  
			  			  display: none;
			  			  
			  			}
						.huburger{
										display:block;
										color:white;
										font-size:70px;
															}
						
						
			}
			
			@media screen and (min-width: 1024px) {
						  body {
						    background-color: blue;
						  }
						  nav .nav-menu {
						  			  width: 40%;
						  			  display: flex;
						  			  justify-content: space-around;
						  			}
									.huburger{
										display:none;
									}
						}
			
			
			@media screen and (min-width: 992px) {
			  
			}


			
			
			
</style>


<nav class="" >
	
   	<div class="logo"> <h1 style="font-size: 20px;">Aapl Lonar ❤</h1> </div> 
	<div > </div>
	<div class="menu">
	   
		
		<div class="nav-menu">
			<a href="/" style="font-size: ">Home</a>
					<a href="/gallery">Visit lonar</a> 
					<a href="/hotels">Book Hotel </a>
					
					<a href="/galleryphotos">gallery</a>
					<a href="https://www.instagram.com/aapl_lonar_mh28/" target="_blank">about</a>
					<a href="/contactMe">contact</a>
			
			
			
			
			</div>
			
			<div class="huburger">
				=
				</div>
		
		
	</div>
</nav>
